@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-custom text-gray-900 dark:bg-dark-bg dark:text-gray-100;
}

.saldo-positivo {
  @apply text-green-600;
}

.saldo-negativo {
  @apply text-red-600;
}